body {
  background: gray;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;

}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.date {
	font-size: 2em;
	color: white;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.section {
	margin-top: 10px;
}

.column {
	display: flex;
	flex-direction: column;
	width: 400px;
	align-items: center;
	margin: 0 auto;
}

.column input {
	border-radius: 3px;
	margin: 10px 0;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.43);
	font-size: 16px;
	width: 80%;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 100px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
	background: linear-gradient(#1a1a1a,#0a0a0a);
	color: #fff;
	text-decoration: none;
}

.button:active {
	transform: translateY(1px);
}

.tasks-div {
	margin: 10px auto;
	background: #e8e8e8;
	width: 400px;
}

.tasks-list li {
	background: white;
	margin: 5px 0;
	text-align: center;
}